//Ширина основного divcontainer
$max-width-divcontainer: 1920px;
$min-width-divcontainer: 640px;
$width-divcontainer: 100%;

//Ширина колонок сайта
$right-colomn-width: 10%;
$left-colomn-width: 10%;
$center-colomn-width: 100% - $right-colomn-width - $left-colomn-width;

//ширина внутреннего содержимого колонок
$internal-width: 95%;


//Цвета
$main-color-5: #313131;
$main-color-4: #0061fe;
$main-color-3:#b1b1b1;
$main-color-2:#f7f7f7;
$main-color-1:#fff;

//Шрифты 
//5-заголовки
//1-основной текст

$Font1: RobotoCondensed;
$Font2: English Rose;
$Font3: CATStack;
$Font4: Caveat Regular;
$Font5: Architectural; 
$Font6: a_Latino;

//Размеры шрифта
$font-size0-9: 0.9em;
$font-size1: 1em;
$font-size1-5: 1.5em;
$font-size2: 2em;
$font-size2-5: 2.5em;
$font-size3: 3em;
$font-size4: 4em;
$font-size5: 5em;
$font-size6: 6em;

//Основной отступ по всем сторонам 1

$margin-all1: 5px;
$margin-all2: 10px;

//Основной отступ по всем сторона 2
$margin1: 10px;
$margin2: 20px;
$margin3: 30px;
$margin4: 40px;
$margin5: 50px;
$margin6: 100px;

//Основной внешний отступ по верху
$margin-top1: 10px;
$margin-top2: 20px;
$margin-top3: 30px;
$margin-top4: 40px;
$margin-top5: 50px;
$margin-top10: 100px;

//Основной внешний отступ по низу
$margin-bottom1: 10px;
$margin-bottom2: 20px;
$margin-bottom3: 30px;
$margin-bottom4: 40px;
$margin-bottom5: 50px;
$margin-bottom10: 100px;


//Основной внешний отступ по правому краю
$margin-right1: 10px;
$margin-right2: 20px;
$margin-right3: 30px;
$margin-right4: 40px;
$margin-right5: 50px;
$margin-right10: 100px;


//Основной внутренний отступ по всем сторонам

$padding1: 10px;
$padding2: 20px;
$padding3: 30px;
$padding4: 40px;
$padding5: 50px;
$padding6: 100px;


//Основной внутренний отступ по верху

$padding-bottom1: 10px;
$padding-bottom2: 20px;
$padding-bottom3: 30px;
$padding-bottom4: 40px;

//Основной внутренний отступ по левому краю

$padding-left1: 10px;
$padding-left2: 20px;
$padding-left3: 30px;
$padding-left4: 40px;

//Основной внутренний отступ по правому краю

$padding-right1: 10px;
$padding-right2: 20px;
$padding-right3: 30px;
$padding-right4: 40px;




//Основная тень
$box-shadow1: 0 -1px 1px #d1d1d1;

//Скругление краев
$border-radius1: 12px;

//transition по умолчнию
$transition-default: 0.18s linear;






