@import 'style-var';

/* !header start =*/

.header__divcontainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $width-divcontainer;
    max-width: $max-width-divcontainer;
    min-width: $min-width-divcontainer;

    margin-top: $margin-top1;
  }
  
  .header__left {
    width: $left-colomn-width;
  }
  
  .header__main {
    width: $center-colomn-width;
    background-color: $main-color-5;
  }
  
  .header__right {
    width: $right-colomn-width;
  }
  
  .header__h1 {
    font-family: $Font5;
    font-weight: 700;
    text-align: left;
    //text-transform: uppercase;
    color: $main-color-1;
    font-size: $font-size5;
    margin-left: 10px;
    margin-top: $margin-top2;
  }
  
  .header__h2 {
    font-family: $Font5;
    font-weight: 700;
    text-align: left;
    color: $main-color-1;
    font-size: $font-size5;
    margin-left: 10px;
    //margin-bottom: $margin-bottom1;
    // padding-bottom: 0;
  }
  
  .header__h3 {
    font-family: $Font5;
    font-weight: 700;
    text-align: center;
    color: $main-color-1;
    font-size: $font-size5;
    
    background-color: $main-color-5;
    width: 100%;
    padding-top: 15px;
    //max-width: 100%;
    //min-width: 60%;

    margin-top: $margin-top1;
    
  }
 
  /* !header finish =*/