@use 'style-block/style-var';

@import 'fonts';
@import 'style-block/style-nav';
@import 'style-block/style-header';
@import 'style-block/style-main';
@import 'style-block/style-footer';
@import 'style-block/style-img';
@import 'style-block/style-lvl2';


/* !Global start =*/

/* Зануление всех margin, padding, border*/
/* Зануление всех margin, padding, border*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Размеры блоков не изменяются в зависимости от border, padding */
*,
*:before,
*:after {
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

body {
background-color: $main-color-2;
}

/* !Global blocks finish=*/



/* !Media start */


@media (max-width: 1281px) {

  .nav__left,
  .nav__right,
  .header__left,
  .header__right,
  .divcontainer__left,
  .divcontainer__right
  {
    display: none;
  }

  .center,
  .nav__main,
  .header__main
  {
    width: $width-divcontainer;
  }

  .centerNote {
    grid-template-columns: auto;
    grid-gap: 5px;
  }
  .centerNote__sources, 
  .centerNote__note {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: $padding-left1;
    padding-right: $padding-right1;
  }
}




@media (max-width: 1081px) {

 
  .center__container 
  {
    flex-wrap: wrap;
  }

  .center__header-text 
  {
    font-family: $Font5;
    font-weight: 700;
    text-align: center;
    font-size: $font-size4;

    margin-top: $margin-top1;   
  }

  .header__h1 {
    font-family: $Font5;
    font-weight: 400;
    text-align: center;
    font-size: $font-size4;
  }
  
  .header__h2 {
    font-family: $Font5;
    font-weight: 400;
    text-align: center;
    font-size: $font-size4;
  }

  .center__left_header {
   height: 350px;    
  }

  .center__right_header {
   height: 350px;
  }

  .center__link 
  {
    max-width: 250px;
    height: 70px;    
    
    font-size: $font-size1;
    font-weight: 400;
    font-family: $Font1;
        
    margin-bottom: $margin-bottom1;
  }

  .nav__link {

    font-family: $Font1;
    font-size: $font-size1-5;    
  }

}

  @media (max-width: 640px) {

     
    .center__header-text 
    {
      font-family: $Font1;
      font-weight: 400;
      text-align: center;
          
      font-size: $font-size2;
      margin-top: $margin-top1;   
    }
  
    .header__h1 {
      font-family: $Font1;
      font-weight: 400;
      text-align: center;
      font-size: $font-size2;

      margin-top: 0;
    }
    
    .header__h2 {
      font-family: $Font1;
      font-weight: 400;
      text-align: center;
      font-size: $font-size2;
    }
  
  
    .center__left_header {
      height: 230px;
       
    }
  
    .center__right_header {
      height: 230px;
    }
  
    .center__link 
    {         
      font-size: $font-size1;
      font-family: $Font1;
      font-weight: 400;
      font-style: normal;
  
      margin-bottom: $margin-bottom1;  
    }

    .nav__link {

      display: block;
      color: $main-color-1;
      text-align: center;
      padding: 5px 5px;
      font-family: $Font1;
      font-size: 1.4em;
      font-weight: 300;
      font-style: normal;
      
    }

    .nav__li{
      outline: 2px solid $main-color-1;
    }

}

/* !Media finish */